* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.app-title {
    margin: 30px auto;
    padding: 10px;
    font-size: 40pt;
    width: 100%;
    text-align: center;
}

.quiz {
    margin: auto;
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 500px; /* Added maximum width for larger screens */
    background-color: #f5f6f6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -20px 20px 30px rgba(0,0,0,0.3);
}

.quiz-header {
    text-align: center;
    font-size: 20pt;
}

.quiz-body {
    padding-top: 15px;
}

.quiz-footer {
    display: flex;
    justify-content: center;
}

.next-btn {
    width: 200px;
    padding: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 14pt;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.next-btn:hover {
    box-shadow: -1.5px 1.5px 10px rgba(0,0,0,0.3);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .quiz {
        width: 80%; /* Adjusted width for smaller screens */
        max-width: 400px; /* Added maximum width for larger screens */
    }
}

@media screen and (max-width: 480px) {
    .quiz {
        width: 100%; /* Adjusted width for smaller screens */
        max-width: 300px; /* Added maximum width for larger screens */
    }

    .next-btn {
        width: 150px; /* Adjusted width for smaller screens */
        font-size: 12pt; /* Adjusted font size for smaller screens */
    }
}