body {
    background-image: url(/Background/bg5.jpg);
    background-size: cover; /* Adjusts the image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}
