@using GradeProject.Components.Layout.AI
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
<RadzenComponents />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout class="bg">
    <RadzenHeader>
        <div class="d-flex justify-content-between align-items-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <!-- Sidebar Toggle (Hidden on mobile) -->
                @* <div class="sidebar-toggle"> *@
                @*     <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" /> *@
                @* </div> *@
                <RadzenImage Path="/img/logo2.png" Style="max-width:8rem" AlternateText="community" />
                <RadzenLabel Text="v1a0" Style="font-size:10px" />
            </RadzenStack>
            <div>
                <Pmenu />
            </div>
        </div>
    </RadzenHeader>

    <!-- Sidebar for larger screens -->
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded" class="sidebar">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Domov" Icon="home" Path="/profile" />
            <RadzenPanelMenuItem Text="Leaderboard" Icon="find_in_page" Path="/leaderboard" />
            <RadzenPanelMenuItem Text="Forum" Icon="line_weight" Path="/rooms" />
            <RadzenPanelMenuItem Text="Code Playground" Icon="description" Path="/repl/playground" />
            <RadzenPanelMenuItem Text="Kurzy" Icon="announcement" Path="/Courses" />
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <RadzenPanelMenuItem Text="Admin Panel" icon="" Path="/admin"></RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>
        <div class="rz-p-4">
            Version: 1a0
        </div>
    </RadzenSidebar>

    <RadzenBody Style="background-image: url(/Background/bg5.jpg); background-size: cover;">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <Ai></Ai>

    <!-- Footer (Hidden on mobile) -->
    <div class="footer">
        <RadzenFooter>
            © @DateTime.Today.Year Grade - All Rights Reserved.
        </RadzenFooter>
    </div>
</RadzenLayout>

<!-- Mobile Bottom Navigation -->
<div class="bottom-nav">
    <input type="radio" id="home1" name="nav" checked="checked" class="radio-icon" @onclick="Home">
    <label for="home1" class="bloc-icon">
        <img src="/Icons/NavIcons/home.svg" alt="Home 1">
    </label>
    <input type="radio" id="home2" name="nav" class="radio-icon" @onclick="LeaderBoard">
    <label for="home2" class="bloc-icon">
        <img src="/Icons/NavIcons/lead.svg" alt="Home 2">
    </label>
    <input type="radio" id="home3" name="nav" class="radio-icon" @onclick="Forum">
    <label for="home3" class="bloc-icon">
        <img src="/Icons/NavIcons/list-outline.svg" alt="Home 3">
    </label>
    <input type="radio" id="home4" name="nav" class="radio-icon" @onclick="CodePlayground">
    <label for="home4" class="bloc-icon">
        <img src="/Icons/NavIcons/code-slash-outline.svg" alt="Home 4">
    </label>
    <input type="radio" id="home5" name="nav" class="radio-icon" @onclick="Course">
    <label for="home5" class="bloc-icon">
        <img src="Icons/NavIcons/book-outline.svg" alt="Home 5">
    </label>
</div>

<!-- Blazor Error UI -->
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
bool sidebar1Expanded = true;

private void Home()
{
    NavigationManager.NavigateTo("/profile");
}

private void LeaderBoard()
{
    NavigationManager.NavigateTo("/leaderboard");
}

private void Forum()
{
    NavigationManager.NavigateTo("/rooms");
}

private void CodePlayground()
{
    NavigationManager.NavigateTo("/repl/playground");
}

private void Course()
{
    NavigationManager.NavigateTo("/Courses");
}
}
