@using GradeProject.Components.Layout.AI
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<RadzenComponents />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<RadzenLayout class="bg">
    <RadzenHeader>
        <div class="d-flex justify-content-between align-items-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"/>
                <RadzenImage Path="assets\img\header\logo\Logo2.png" Style="max-width:8rem" AlternateText="community" />
                <RadzenLabel Text="v1a0" Style="font-size:10px"/>
            </RadzenStack>
            <div>
                <Pmenu/>
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Domov" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Leaderboard" Icon="find_in_page" Path="/leaderboard"/>
            <RadzenPanelMenuItem Text="Code Playground" Icon="description" Path="/repl/playground"/>
            <RadzenPanelMenuItem Text="C# Kurz" Icon="announcement" Path="/learn" />
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <RadzenPanelMenuItem Text="Admin Panel" icon="" Path="/admin"></RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>
        <div class="rz-p-4">
            Version: 1a0
        </div>
    </RadzenSidebar>
    <RadzenBody Style="background-image: url(/Background/bg5.jpg);
    background-size: cover;
    ">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <Ai></Ai>
    <RadzenFooter>
        © @DateTime.Today.Year Grade - All Rights Reserved.
    </RadzenFooter>
</RadzenLayout>
@code {
    bool sidebar1Expanded = true;
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
