@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<RadzenComponents />
<RadzenLayout class="bg" style="background-image: url(/v748-toon-106.jpg)">
    <RadzenHeader>
        <div class="d-flex justify-content-between align-items-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"/>
                <RadzenLabel Text="Project Grade v0a1"/>
            </RadzenStack>
            <div>
                <Pmenu/>
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Domov" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Users" Icon="description" Path="/q" />
            <RadzenPanelMenuItem Text="Playgound" Icon="description" Path="/playground"/>
            <RadzenPanelMenuItem Text="Playgound" Icon="description" Path="/compiler" />
            <RadzenPanelMenuItem Text="Learn sharp" Path="/learn"/>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <RadzenPanelMenuItem Text="Admin Panel" icon="" Path="/admin"></RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>
        <div class="rz-p-4">
            Version: 0a1
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        © @DateTime.Today.Year Grade - All Rights Reserved.
    </RadzenFooter>
</RadzenLayout>
@code {
    bool sidebar1Expanded = true;
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
