@inherits LayoutComponentBase
@using GradeProject.Components.Layout.AI
@inject NavigationManager NavigationManager
<RadzenComponents />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<body style="background-image: url(/Background/bg5.jpg)">
<div class="content">
    @Body
</div>
<nav class="mobile-nav">
    
    <input type="radio" id="home1" name="nav" checked="checked" class="radio-icon" @onclick="Home">
    <label for="home1" class="bloc-icon">
        <img src="/Icons/NavIcons/home.svg" alt="Home 1">
    </label>
    <input type="radio" id="home2" name="nav" class="radio-icon" @onclick="LeaderBoard">
    <label for="home2" class="bloc-icon">
        <img src="/Icons/NavIcons/lead.svg" alt="Home 2">
    </label>
    <input type="radio" id="home3" name="nav" class="radio-icon" @onclick="Forum">
    <label for="home3" class="bloc-icon">
        <img src="/Icons/NavIcons/list-outline.svg" alt="Home 3">
    </label>
    <input type="radio" id="home4" name="nav" class="radio-icon" @onclick="CodePlayground">
    <label for="home4" class="bloc-icon">
        <img src="/Icons/NavIcons/code-slash-outline.svg" alt="Home 4">
    </label>
    <input type="radio" id="home5" name="nav" class="radio-icon" @onclick="Course">
    <label for="home5" class="bloc-icon">
        <img src="Icons/NavIcons/book-outline.svg" alt="Home 5">
    </label>
</nav>
</body>

@code
{
    private void Home()
    {
        NavigationManager.NavigateTo("/profile");
    }

    private void LeaderBoard()
    {
        NavigationManager.NavigateTo("/leaderboard");
    }

    private void Forum()
    {
        NavigationManager.NavigateTo("/rooms");
    }

    private void CodePlayground()
    {
        NavigationManager.NavigateTo("/repl/playground");
    }

    private void Course()
    {
        NavigationManager.NavigateTo("/Courses");
    }
}