html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("/Background/bg5.jpg");
    background-size: cover;
}

.content {
    flex: 1;
    padding-bottom: 65px; /* Ensure content is above the mobile-nav */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.mobile-nav {
    background: #F1F1F1;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1000; /* Ensure it's above other elements */
}

.radio-icon {
    display: none;
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bloc-icon img {
    width: 30px;
}

@media screen and (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
}

/* Additional styles to indicate a selected state */
.radio-icon:checked + .bloc-icon {
    background-color: #e0e0e0; /* Example of a background change */
    border-radius: 5px; /* Example of a border radius */
}