@inject NavigationManager NavigationManager
<AuthorizeView>
    <RadzenRow >
	    <div class="d-flex justify-content-between align-items-center">
		    @* <RadzenLabel class="hide-label" Text="@context.User.Identity?.Name"/> *@
	    </div>
        <RadzenProfileMenu>
            <Template>
                <RadzenGravatar Email="@context.User.Identity?.Name">
                </RadzenGravatar>
            </Template>
            <ChildContent>
                <RadzenProfileMenuItem Text="Účet" Path="Account/Manage" Icon="account_circle"></RadzenProfileMenuItem>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken/>
                    <input type="hidden" name="ReturnUrl"/>
                    <button type="submit" class="nav-link">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                    </button>
                </form>
            </ChildContent>
        </RadzenProfileMenu>
    </RadzenRow>
    
</AuthorizeView>