@inherits LayoutComponentBase

<div class=" d-flex justify-content-center align-items-center vh-100" style="background-image: url(/Background/bg2.jpg); background-size: cover; backdrop-filter: blur()">
    @Body
</div>