@page "/learn/intro"

@inject NavigationManager NavigationManager
@inject ILessonService LessonService
@inject IQuizService QuizService

<PageTitle>Úvod do C#</PageTitle>

<div class="container-sm">
    <h1>Úvod do C#</h1>

    <section>
        <h2>Čo je C#?</h2>
        <p>C# (vyslovuje sa "C sharp") je staticky typovaný, objektovo orientovaný programovací jazyk, ktorý kombinuje silu jazykov ako je C++ s jednoduchosťou jazykov ako je Java. Bol navrhnutý tak, aby bol ľahko čitateľný a zapisovateľný a ponúka širokú škálu funkcií pre efektívny vývoj softvéru.</p>
    </section>
    <section>
        <h2>História jazyka C#</h2>
        <p>C# bol prvýkrát predstavený v roku 2000 spoločnosťou Microsoft ako súčasť ich platformy .NET. Odvtedy prešiel niekoľkými verziami, pričom najnovší je C# 12, ktorý prináša nové funkcie a vylepšenia pre vývojárov.</p>
        <RadzenImage Path="img/IntroImages/C_Sharp_Logo_2023.svg.png" Style="width: 10rem;" AlternateText="C# LOGO" />
        </section>
    <section>
        <h2>Prečo sa učiť C#?</h2>
        <ul>
            <li><strong>Univerzálnosť:</strong> C# možno použiť pre vývoj širokej škály aplikácií, od webových stránok po herné enginy.</li>
            <li><strong>Bohatý ekosystém:</strong> S C# získate prístup k bohatému ekosystému knižníc a nástrojov, ktoré uľahčujú vývoj.</li>
            <li><strong>Vysoky dopyt na trhu práce:</strong> C# je žiadaným súborom zručností na trhu práce, čo znamená, že znalosť tohto jazyka môže otvoriť mnoho dverí v kariére.</li>
        </ul>
    </section>

    @if (_isQuizAvailable)
    {
        <RadzenButton Click="Quiz" Text="Pokračovať na kvíz" ButtonStyle="ButtonStyle.Primary" />
    }
    else
    {
        <RadzenButton Click="nextLesson" Text="Pokračovať na ďalšiu lekciu" ButtonStyle="ButtonStyle.Primary" />
    }
    
    
</div>

@code {
    private bool _isQuizAvailable;

    protected override async Task OnInitializedAsync()
    {
        await LoadQuizAvailability();

    }

    private async Task LoadQuizAvailability()
    {
        await LessonService.AddLesson("intro");
        _isQuizAvailable = await QuizService.IsQuizAvailable("intro");
    }

    private void Quiz()
    {
        NavigationManager.NavigateTo("q/intro");
    }

    private void nextLesson()
    {
        NavigationManager.NavigateTo("/");
    }


}
