@page "/repl/playground/0a1"
@using GradeProject.Services

<style>
    #myEditor {
        height: 50vh; /* Set the height to 80% of the viewport height */
        width: 100%; /* Set the width to 100% */
    }
</style>

<div class="h-100 w-100">
    <StandaloneCodeEditor @ref="myEditor" Id="myEditor" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="HandleContentChange" />
</div>

<button @onclick="ExecuteCode">Execute Code</button>

@if (!string.IsNullOrEmpty(output))
{
    <pre>@output</pre>
    <p>@evaluationResult</p>
}

@code {

    private StandaloneCodeEditor myEditor;
    private async Task HandleContentChange()
    {
        code = await myEditor.GetValue();
    }

    private string code = "using System;\n\npublic class Program\n{\n    public static void Main()\n    {\n        Console.WriteLine(\"Hello, world!\");\n    }\n}";

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "csharp", 
            Theme = "vs-dark",
            Value = code,
        };
    }
    private string output = "";
    private string evaluationResult = "";

    [Inject]
    private ICSharpExecutorService ExecutorService { get; set; }

    private async Task ExecuteCode()
    {
        string expectedOutput = "Hello, world!";
        output = ExecutorService.ExecuteCSharpCode(code);

        if (output.Trim() == expectedOutput)
        {
            evaluationResult = "Code execution successful!";
        }
        else
        {
            evaluationResult = "Code execution failed. Expected output: " + expectedOutput;
        }
    }
}