@page "/index"
@using Radzen
@using GradeProject.Components.Layout
@inject NavigationManager NavigationManager

@layout EmptyLayoutWithBg

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5 bgtext">
                    <img src="/img/logo2.png" alt="logo" width="250">
                </div>
                <div class="card shadow-lg">
                    <div class="m-5 text-center">
                        <div class="d-grid gap-2">
                            <RadzenButton Text="Prihlásiť sa" Click="@(args => RedirectToLogin())"/>
                            <RadzenButton Text="Registrovať sa" Click="@(args => RedirectToRegister())"/>
                        </div>
                    </div>
                </div>
                <p class="text-center bgtext">© @DateTime.Now.Year Grade - All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter, SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; } = "/";

    private void RedirectToLogin()
    {
        // Debug logging
        Console.WriteLine("Redirecting to login page.");
        NavigationManager.NavigateTo("/Account/Login", true);
    }

    private void RedirectToRegister()
    {
        // Debug logging
        Console.WriteLine("Redirecting to register page with ReturnUrl: " + ReturnUrl);
        var uri = NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?>
        {
            ["ReturnUrl"] = ReturnUrl
        });
        NavigationManager.NavigateTo(uri, true);
    }
}
