@page "/notfound"
@layout EmptyLayout
@inject NavigationManager NavigationManager

<PageTitle>❌ERROR: 404 Page not found!</PageTitle>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <RadzenImage Path="img/404.png" Style="width: 45rem;" AlternateText="C# LOGO" />
        <div class="col-12 text-center">
            <RadzenColumn>
                <RadzenButton Click=@(GoToHome) Text="Return to Home" ButtonStyle="ButtonStyle.Primary"/>
            </RadzenColumn>
        </div>
    </div>
</div>

@code
{
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/", true);
    }
}