@page "/problems/{id:int}"
@inject ProblemService ProblemService
@inject NavigationManager NavigationManager

@code {
	[Parameter]
	public int Id { get; set; }

	private Problem problem;

	protected override void OnParametersSet()
	{
		problem = ProblemService.GetProblemById(Id);
	}

	private void onClickNav()
	{
		NavigationManager.NavigateTo($"solve/{problem.Id}");
	}
}

@if (problem != null)
{
	<h3>@problem.Title</h3>
	<p>@problem.Description</p>
	<p><strong>Difficulty:</strong> @problem.Difficulty</p>
	<RadzenButton Click="onClickNav">Zacat vyzvu</RadzenButton>
}
else
{
	<p>Problem not found.</p>
}