<head>
    <link href="learnpages.css" rel="stylesheet" />
</head>

<div class="container-sm bgtext">
    <h2>Čo je nové</h2>
    <ul>
        <li>Opravy chýb: Zlepšená stabilita a výkon s najnovšími opravami chýb.</li>
        <li>Nová tabuľka lídrov: Skontrolujte aktualizovanú tabuľku lídrov s vylepšenými funkciami.</li>
        <li>Pridané AI: Integrácia pokročilých AI schopností do našej platformy.</li>
        <li>Nové stránky kurzov: Preskúmajte naše novo pridané kurzy navrhnuté na zlepšenie vašich zručností.</li>
    </ul>
</div>
