@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IForumService ForumService
@inject NavigationManager NavigationManager

<head>
    <link href="learnpages.css" rel="stylesheet" />
</head>

<div class="bgtext">
    <h1 class="mb-2 text-center">Prispevky</h1>
</div>

@if (CreatedRooms != null)
{
    <div class="container-sm">
        @if (CreatedRooms.Any())
        {
            @foreach (var room in CreatedRooms.OrderByDescending(r => r.DateOfCreation))
            {
                <div @onclick="() => ShowRoomDetails(room.Id)" class="bgt spacing">
                    <a>@room.Title - @((MarkupString)room.Detail)</a><br>
                </div>
            }
        }
        else
        {
            <p>No rooms created yet.</p>
        }
    </div>
}
else
{
    <div class="rz-m-12">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
}

@code {
    [Parameter]
    public ApplicationUser User { get; set; }

    private List<ForumRoom> CreatedRooms;
    private SemaphoreSlim semaphore = new SemaphoreSlim(1); // Semaphore for ensuring single execution

    protected override async Task OnParametersSetAsync()
    {
        await semaphore.WaitAsync();
        try
        {
            if (User != null)
            {
                CreatedRooms = await ForumService.GetRoomsCreatedByUserAsync(User.Id);
            }
        }
        finally
        {
            semaphore.Release();
        }
    }

    private void ShowRoomDetails(int roomId)
    {
        NavigationManager.NavigateTo($"/rooms/room/{roomId}");
    }
}